<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gasnow.chart.model.mapper.ChartMapper">

    <select id="getAllPrice" resultType="Chart">
        SELECT PRICE_DATE, AVG_PRICE
        FROM AREA_AVG
        WHERE OIL_CATEGORY = #{oilCategory}
          AND AREA_NAME = #{areaName}
        ORDER BY PRICE_DATE ASC
    </select>

    <select id="getOneYearPrice" resultType="Chart">
        SELECT PRICE_DATE, AVG_PRICE
        FROM AREA_AVG
        WHERE price_date >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
          AND OIL_CATEGORY = #{oilCategory}
          AND AREA_NAME = #{areaName}
        ORDER BY PRICE_DATE ASC
    </select>

    <select id="getOneMonthPrice" resultType="Chart">
        SELECT PRICE_DATE, AVG_PRICE
        FROM AREA_AVG
        WHERE price_date >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
          AND OIL_CATEGORY = #{oilCategory}
          AND AREA_NAME = #{areaName}
        ORDER BY PRICE_DATE ASC
    </select>

    <select id="getOneWeekPrice" resultType="Chart">
        SELECT PRICE_DATE, AVG_PRICE
        FROM AREA_AVG
        WHERE PRICE_DATE >= DATE_SUB(CURDATE(), INTERVAL 1 WEEK)
          AND OIL_CATEGORY = #{oilCategory}
          AND AREA_NAME = #{areaName}
        ORDER BY PRICE_DATE ASC
    </select>

    <select id="getYesterdayPrice" resultType="Chart">
        SELECT OIL_CATEGORY, AVG_PRICE
        FROM AREA_AVG
        WHERE PRICE_DATE = DATE_SUB(CURDATE(), INTERVAL 1 DAY)
          AND AREA_NAME = "전국"
    </select>

</mapper>
