<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gasnow.chart.model.mapper.ChartMapper">

    <!-- 전체 조회
    <select id="getAllPrice" resultType="chart">
        SELECT avg_price
        FROM avg_price
        ORDER BY price_date ASC
    </select>
    -->

    <!-- 1년 조회
    <select id="getOneYearPrice" resultType="chart">
        SELECT avg_price
        FROM avg_price
        WHERE price_date >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
          AND oilCategory = 'B034'
        ORDER BY price_date ASC
    </select>
    -->

    <!-- 1달 조회
    <select id="getOneMonthPrice" resultType="chart">
        SELECT avg_price
        FROM avg_price
        WHERE price_date >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
        ORDER BY price_date ASC
    </select>
    -->

    <!-- 1주 조회
    <select id="getOneWeekPrice" resultType="chart">
        SELECT avg_price
        FROM avg_price
        WHERE PRICE_DATE >= DATE_SUB(CURDATE(), INTERVAL 1 WEEK)
        ORDER BY price_date ASC
    </select>
    -->


    <select id="getAllPrice" resultType="chart">
        SELECT PRICE_DATE, AVG_PRICE
        FROM AREA_AVG
        WHERE OIL_CATEGORY = #{oilCategory}
          AND AREA_NAME = #{areaName}
        ORDER BY PRICE_DATE ASC
    </select>

    <select id="getOneYearPrice" resultType="chart">
        SELECT PRICE_DATE, AVG_PRICE
        FROM AREA_AVG
        WHERE price_date >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
          AND OIL_CATEGORY = #{oilCategory}
          AND AREA_NAME = #{areaName}
        ORDER BY PRICE_DATE ASC
    </select>

    <select id="getOneMonthPrice" resultType="chart">
        SELECT PRICE_DATE, AVG_PRICE
        FROM AREA_AVG
        WHERE price_date >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
          AND OIL_CATEGORY = #{oilCategory}
          AND AREA_NAME = #{areaName}
        ORDER BY PRICE_DATE ASC
    </select>

    <select id="getOneWeekPrice" resultType="chart">
        SELECT PRICE_DATE, AVG_PRICE
        FROM AREA_AVG
        WHERE PRICE_DATE >= DATE_SUB(CURDATE(), INTERVAL 1 WEEK)
          AND OIL_CATEGORY = #{oilCategory}
          AND AREA_NAME = #{areaName}
        ORDER BY PRICE_DATE ASC
    </select>

</mapper>
