<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gasnow.chart.model.mapper.ChartMapper">


    <select id="getOneWeekPrice" resultType="Chart">
        SELECT PRICE_DATE, AVG_PRICE
        FROM AREA_AVG
        WHERE PRICE_DATE >= DATE_SUB(CURDATE(), INTERVAL 1 WEEK)
          AND OIL_CATEGORY = #{oilCategory}
          AND AREA_NAME = #{areaName}
        ORDER BY PRICE_DATE ASC
    </select>

    <select id="getOneMonthPrice" resultType="Chart">
        SELECT
            DATE_ADD(DATE_FORMAT(MIN(PRICE_DATE), '%Y-01-01'),
                     INTERVAL (FLOOR(DAYOFYEAR(MIN(PRICE_DATE)) / 3) * 3) - 1 DAY) AS PRICE_DATE,
            AVG(AVG_PRICE) AS AVG_PRICE
        FROM AREA_AVG
        WHERE price_date >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
          AND OIL_CATEGORY = #{oilCategory}
          AND AREA_NAME = #{areaName}
        GROUP BY
            YEAR(PRICE_DATE),                 -- 1. 연도별로 먼저 묶고
            FLOOR(DAYOFYEAR(PRICE_DATE) / 3)  -- 2. 1년 중 날짜를 5로 나눈 몫으로 그룹화
        ORDER BY
            MIN(PRICE_DATE) ASC

        /*
        GROUP BY
            YEAR(PRICE_DATE),                   -- 1. 연도별로 먼저 묶고
            FLOOR(DAYOFYEAR(PRICE_DATE) / 14)   -- 2. 1년 중 며칠째인지를 14로 나눈 몫으로 그룹화
            YEARWEEK(PRICE_DATE)                -- '2025년 45주차'처럼 고유한 '주' 단위로 그룹화
        */
    </select>

    <select id="getOneYearPrice" resultType="Chart">
        SELECT
            DATE_FORMAT(MIN(PRICE_DATE), '%Y-%m-01') AS PRICE_DATE,
            AVG(AVG_PRICE) AS AVG_PRICE
        FROM AREA_AVG
        WHERE PRICE_DATE >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
          AND OIL_CATEGORY = #{oilCategory}
          AND AREA_NAME = #{areaName}
        GROUP BY
            YEAR(PRICE_DATE), MONTH(PRICE_DATE)
        ORDER BY
            YEAR(PRICE_DATE), MONTH(PRICE_DATE) ASC
    </select>

    <select id="getAllPrice" resultType="Chart">
        SELECT
            DATE_FORMAT(MIN(PRICE_DATE), '%Y-%m-01') AS PRICE_DATE,
            AVG(AVG_PRICE) AS AVG_PRICE
        FROM AREA_AVG
        WHERE OIL_CATEGORY = #{oilCategory}
          AND AREA_NAME = #{areaName}
        GROUP BY
            YEAR(PRICE_DATE), MONTH(PRICE_DATE)
        ORDER BY
            YEAR(PRICE_DATE), MONTH(PRICE_DATE) ASC
    </select>

    <select id="getYesterdayPrice" resultType="Chart">
        SELECT OIL_CATEGORY, AVG_PRICE
        FROM AREA_AVG
        WHERE PRICE_DATE = DATE_SUB(CURDATE(), INTERVAL 1 DAY)
          AND AREA_NAME = "전국"
    </select>

</mapper>
