<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>로그인</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
<div th:replace="~{header :: header}"></div>
<form id="loginForm">
        <div class="form-box">
            <label>아이디</label>
            <input type="text" name="userId" id="userId"/>
            <label>
                <input type="checkbox" id="saveId" name="saveId"> 아이디 저장
            </label>
        </div>

        <div class="form-box">
            <label>비밀번호</label>
            <input type="password" name="userPw" id="userPw"/>
        </div>

        <div class="button-box">
            <button type="button" id="loginBtn">로그인</button>
        </div>
    </form>

    <script src="/js/login.js"></script>
</body>
</html>
