<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font.css">
</head>
<body>
    <div class="register-form-container">
        <form id="registerForm">
            <div class="form-box">
                <label>이름<span class="required">*</span></label>
                <input type="text" name="username" id="username"/>
                <div class="alertBox" id="nameAlert"></div>
            </div>

            <div class="form-box">
                <label>아이디<span class="required">*</span></label>
                <input type="text" name="userId" id="userId"/>
                <button type="button" id="idDblChkBtn">중복확인</button>
                <div class="alertBox" id="idAlert"></div>
            </div>

            <div class="form-box">
                <label>비밀번호<span class="required">*</span></label>
                <input type="password" name="userPassword" id="userPassword"/>
                <div class="alertBox" id="pwAlert">
                    <div class="alert" id="pwAlertItem">
                        영문, 숫자, 특수문자를 조합하여 입력해주세요. (8-16자)
                    </div>
                </div>
            </div>

            <div class="form-box">
                <label>비밀번호 확인<span class="required">*</span></label>
                <input type="password" name="userPasswordCheck" id="userPasswordCheck"/>
                <div class="alertBox" id="pwChkAlert"></div>
            </div>

            <div class="form-box">
                <div class="form-item">
                    <label>이메일<span class="required">*</span></label>
                    <input type="text" name="userEmail" id="userEmail"/>
                    <button type="button" id="sendAuthKeyBtn">본인인증</button>
                    <div class="alertBox" id="emailAlert"></div>
                </div>
            </div>

            <div class="form-box">
                <div class="form-item">
                    <label>인증번호<span class="required">*</span></label>
                    <input type="text" name="inputAuthKey" id="authKey"/>
                    <button type="button" id="checkAuthKeyBtn">인증하기</button>
                    <div class="alertBox" id="authAlert"></div>
                </div>
                <span id="countdown"></span>
            </div>

            <div class="form-box">
                <label>연락처</label>
                <input type="text" name="userPhone" id="userPhone"/>
                <button type="button" id="phoneDblChkBtn">중복확인</button>
                <div class="alertBox" id="phoneAlert"></div>
            </div>

            <div class="button-box">
                <button id="registerBtn" type="submit">회원가입</button>
            </div>
        </form>
    </div>

    <script src="/js/register.js"></script>

</body>
</html>
