/* ========================================
웹, 모바일 공통 속성
======================================== */
#loginForm {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 1.5rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 360px;
}

.form-item label {
    margin-bottom: 0.4rem;
    align-self: flex-start;
    font-size: 0.9rem;
    color: #000000;
    padding-left: 5px
}

.form-item input[type="text"],
.form-item input[type="password"] {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border-radius: 20px;
    border: 1.5px solid #afafaf;
    box-sizing: border-box;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    color: #000000;
    user-select: none;
}

.checkbox-wrapper input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 18px;
    height: 18px;
    border: 1px solid #afafaf;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    vertical-align: center;
}

.form-item input[type="text"]:focus,
.form-item input[type="password"]:focus {
    border: 1px solid #ff7700;
    outline: none;
}

/* 체크 시 박스 색상 */
input[type="checkbox"]:checked {
    background-color: #ff7700;
    border-color: #ff7700;
}

input[type="checkbox"]::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    top: 1px;
    left: 4.5px;
    transform: rotate(45deg);
    opacity: 0;
}

input[type="checkbox"]:checked::after {
    opacity: 1;
}

.text-box {
    margin-top: 15px;
    margin-bottom: 10px;
}

a {
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.button-box {
    margin-top: 15px;
}

#loginBtn {
    background-color: #ff7700;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#loginBtn:hover {
    background-color: #fff6eb;
    transition: background-color 0.2s ease;
}

/* ========================================
웹 사이즈
======================================== */
@media(min-width: 451px){
    .login-wrapper {
        display: flex;
    }

    .nav-area {
        width: var(--sidebar-width);
        height: var(--sidebar-height);
    }

    #loginForm {
        width: 100%;
    }

    #loginForm h1{
        font-size: 3.125em;
        transition: font-size 0.3s ease 0s;
    }

    .form-item .input-label {
        font-size: 1.1em;
    }

    .line {
        width: 55%;
        border: none;
        border-top: 1px solid #afafaf;
    }

}

/* ========================================
모바일 사이즈
======================================== */
@media(max-width: 450px){
    #loginForm h1{
        font-size: 40px;
        transition: font-size 0.3s ease 0s;
    }

    .form-item .input-label {
        font-size: 1em;
    }

    .line {
        width: 60%;
        border: none;
        border-top: 1px solid #afafaf;
    }
}