/* ========================================
웹, 모바일 공통 속성
======================================== */
.alertBox {
    font-size: 0.8em;
    color: #696969;
}

.error {
    color: #ff0004;
}

.confirm {
    color: #218600;
}

.required {
    color: #ff0004;
}

.register-form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}

#registerForm {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin-bottom: 1em;
}

.form-item {
    display: flex;
    align-items: center;
    width: 100vw;
    gap: 8px;
}

.form-item label {
    margin-bottom: 0.4rem;
    flex: 0 0 7em;
    font-size: 0.7em;
    color: #000000;
    padding-left: 5px
}

.form-item input[type="text"],
.form-item input[type="password"] {
    width: 100%;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    border: 1.5px solid #afafaf;
    box-sizing: border-box;
    flex: 1;
}

.form-item input[type="text"]:focus,
.form-item input[type="password"]:focus {
    border: 1px solid #ff7700;
    outline: none;
}

.form-item button {
    flex: 0 0 auto;  /* 내용만큼만 공간 차지 */
    padding: 7px 10px 5px 10px;
    border-radius: 20px;
    border: 1px solid #ff7700;
    background-color: #ff7700;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.75em;
    white-space: nowrap;  /* 글자 줄바꿈 X */
}

.form-item button:hover {
    background-color: #ee6c00;
    transition: background-color 0.2s ease;
}

.input-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-row {
    display: flex;
    gap: 8px;
}

#countdown {
    font-size: 0.8em;
    color: #ff0004;
}

.button-box {
    margin-top: 15px;
}

#registerBtn {
    background-color: #ffffff;
    color: #ff7700;
    font-size: 1.1rem;
    padding: 8px 20px;
    margin-top: 0.2vh;
    border: 2px solid #ff7700;
    border-radius: 10px;
    cursor: pointer;
}

#registerBtn:hover {
    background-color: #fff6eb;
    transition: background-color 0.2s ease;
}

/* ========================================
웹 사이즈
======================================== */
@media(min-width: 451px){
    .register-wrapper {
        display: flex;
    }

    .nav-area {
        width: var(--sidebar-width);
        height: var(--sidebar-height);
    }

    #registerForm {
        width: 100%;
        max-width: 500px;
    }

    #registerForm h1{
        font-size: 3.125em;
        transition: font-size 0.3s ease 0s;
        padding-bottom: 10px;
    }

    .form-item .input-label {
        font-size: 1.1em;
    }

    .form-item {
        max-width: 500px;
    }
}


/* ========================================
모바일 사이즈
======================================== */
@media(max-width: 450px){
    .register-wrapper {
        display: flex;
        flex-direction: column;
    }

    .nav-area {
        height: var(--sidebar-height);
    }

    #registerForm {
        min-height: 90vh;
        height: 100%;
        align-content: center;
    }

    #registerForm h1{
        font-size: 40px;
        transition: font-size 0.3s ease 0s;
        padding-bottom: 10px;
    }

    .form-item {
        max-width: 340px;
    }

    .form-item .input-label {
        font-size: 0.8em;
    }
}